

.col2{
    background-color: white;
    border-radius: 0px 40px 40px 0px;
}

.col3{
    background-color: white;
    border-radius: 40px 0px 0px 40px;
}

.input-group-text{
    border-radius: 0px 30px 30px 0px;
}

#hide{
    display: none;
}
#hidec{
    display: none;
}

i{
    cursor: pointer;
}
html,
body{
    background-color: #C4EDDE;
    height: 100%;
}

.row{
    border-radius: 40px;
    background-color: #7AC7C4;
}


.bi-house-door-fill{
    color: white;
    font-size: 2rem;
}

.bi-house-door-fill:hover{
    color: #919191;
}

img{
    max-width: 420px;
}

.form-control{
    border-radius: 30px;
}

p:hover{
    color: white;
}

.btn{
    min-width: 180px;
    border-radius: 30px;
}

.text-danger{
    font-size: 13px;
}

.bi-check-square-fill{
    color: #4BB543;
}

section{
    height: 100%;
}

.box-form{
    height: 580px;
}